body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.bg-dark input,
body.bg-dark .form-control {
  background-color: #343a40;
  color: #f8f9fa;
  border-color: #495057;
}

body.bg-dark .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

body.bg-dark .btn-outline-secondary {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

body.bg-dark .btn-outline-secondary:hover {
  background-color: #f8f9fa;
  color: #343a40;
}